In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('/media/prince/5A4E832F4E83034D/Movie recomender/small_tmdb.csv')
df.columns.tolist()

['title',
 'vote_average',
 'vote_count',
 'release_date',
 'revenue',
 'runtime',
 'adult',
 'budget',
 'imdb_id',
 'original_language',
 'overview',
 'popularity',
 'genres',
 'spoken_languages',
 'keywords']

In [8]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              99999 non-null  object
 1   vote_average       99999 non-null  float64
 2   vote_count         99999 non-null  int64
 3   release_date       99937 non-null  object
 4   revenue            99999 non-null  int64
 5   runtime            99999 non-null  int64
 6   adult              99999 non-null  bool
 7   budget             99999 non-null  int64
 8   imdb_id            98994 non-null  object
 9   original_language  99999 non-null  object
 10  overview           98150 non-null  object
 11  popularity         99999 non-null  float64
 12  genres             98118 non-null  object
 13  spoken_languages   96667 non-null  object
 14  keywords           67414 non-null  object
dtypes: bool(1), float64(2), int64(4), object(8)
memory usage: 10.8+ MB

In [11]:
df.describe()

,vote_average,vote_count,revenue,runtime,budget,popularity
count,99999.000000,99999.000000,9.999900e+04,99999.000000,9.999900e+04,99999.000000
mean,6.062562,209.152182,7.078976e+06,88.717347,2.663466e+06,6.348896
std,1.080761,1055.185053,5.363365e+07,38.067552,1.419054e+07,24.079430
min,1.000000,6.000000,0.000000e+00,0.000000,0.000000e+00,0.600000
25%,5.400000,10.000000,0.000000e+00,82.000000,0.000000e+00,1.729000
50%,6.151000,20.000000,0.000000e+00,93.000000,0.000000e+00,3.141000
75%,6.800000,60.000000,0.000000e+00,105.000000,0.000000e+00,6.470000
max,10.000000,34495.000000,2.923706e+09,1440.000000,4.600000e+08,2994.357000

In [28]:
df[['title','vote_average','vote_count','revenue', 'budget','release_date']].iloc[40000:40010]

,title,vote_average,vote_count,revenue,budget,release_date
40000,The Envelope,5.839,28,0,0,2017-11-30
40001,B-Girl,6.100,28,0,0,2009-07-29
40002,Separated at Birth,5.400,28,0,0,2018-02-09
40003,E-Team,5.900,28,0,0,2014-01-18
40004,Syndicate Sadists,5.800,28,0,0,1975-08-16
40005,Watch Me When I Kill,5.600,28,0,0,1977-08-06
40006,"I, 'The Heifer'",5.643,28,562029,0,1985-11-08
40007,Soldier of Fortune,5.900,28,0,2515000,1955-05-24
40008,Union of Salvation,6.500,28,0,15936600,2019-12-26
40009,The Medic,5.300,28,0,0,1979-10-26

In [38]:
(df['vote_count'] >= 10000).sum()

np.int64(271)