In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv('/media/prince/5A4E832F4E83034D/Movie recomender/small_tmdb.csv')
df.columns.tolist()

['id',
 'title',
 'vote_average',
 'vote_count',
 'status',
 'release_date',
 'revenue',
 'runtime',
 'adult',
 'backdrop_path',
 'budget',
 'homepage',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'tagline',
 'genres',
 'production_companies',
 'production_countries',
 'spoken_languages',
 'keywords']

In [ ]:
# # Drop columns that are useless for recommendations
# df.drop([
#     'backdrop_path',
#     'homepage',
#     'id',
#     'production_companies',
#     'production_countries',
#     'tagline',
#     'poster_path',
#     'status',
#     'original_title'
# ], axis=1, inplace=True)

# Check remaining columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              99999 non-null  object
 1   vote_average       99999 non-null  float64
 2   vote_count         99999 non-null  int64
 3   release_date       99937 non-null  object
 4   revenue            99999 non-null  int64
 5   runtime            99999 non-null  int64
 6   adult              99999 non-null  bool
 7   budget             99999 non-null  int64
 8   imdb_id            98994 non-null  object
 9   original_language  99999 non-null  object
 10  overview           98150 non-null  object
 11  popularity         99999 non-null  float64
 12  genres             98118 non-null  object
 13  spoken_languages   96667 non-null  object
 14  keywords           67414 non-null  object
dtypes: bool(1), float64(2), int64(4), object(8)
memory usage: 10.8+ MB

In [40]:
# Print all data except the 'overview' column
df.drop([ 'overview','keywords'], axis=1)

                                 title  vote_average  vote_count release_date     revenue  runtime  adult     budget    imdb_id original_language  popularity                                       genres                    spoken_languages
0                            Inception         8.364       34495   2010-07-15   825532764      148  False  160000000  tt1375666                en      83.952           Action, Science Fiction, Adventure  English, French, Japanese, Swahili
1                         Interstellar         8.417       32571   2014-11-05   701729206      169  False  165000000  tt0816692                en     140.241            Adventure, Drama, Science Fiction                             English
2                      The Dark Knight         8.512       30619   2008-07-16  1004558444      152  False  185000000  tt0468569                en     130.643               Drama, Action, Crime, Thriller                   English, Mandarin
3                               Avatar         7.573       29815   2009-12-15  2923706026      162  False  237000000  tt0499549                en      79.932  Action, Adventure, Fantasy, Science Fiction                    English, Spanish
4                         The Avengers         7.710       29166   2012-04-25  1518815515      143  False  220000000  tt0848228                en      98.082           Science Fiction, Action, Adventure             English, Hindi, Russian
...                                ...           ...         ...          ...         ...      ...    ...        ...        ...               ...         ...                                          ...                                 ...
99994                  The Great Heart         5.500           6   1938-12-31           0       11  False          0  tt0030201                en       1.400                         History, Documentary                             English
99995          That Mothers Might Live         5.500           6   1938-04-30           0       10  False          0  tt0030855                en       1.186                                        Drama                             English
99996               Flowers for Madame         5.400           6   1935-11-19           0        7  False          0  tt0026370                en       1.097                                    Animation                             English
99997  The Declaration of Independence         5.667           6   1938-11-26           0       17  False          0  tt0030046                en       1.450                               History, Drama                             English
99998                     Welcome Home         5.000           6   2015-08-09           0       85  False          0  tt4485168                fr       0.600                                        Drama                              French

[99999 rows x 13 columns]